<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Menu | INEGI</title>
</head>

<body>

    <div class="dashboard-container">
        <div class="sidebar">
            <img src="/images/inegi.jpg" alt="">
            <h1>Censo INEGI</h1>
            <h2>Registro</h2>
            <nav>
                <ul>
                    <li><a href="menu">Home</a></li>
                    <li><a href="viviendas">Viviendas</a></li>
                    <li><a href="habitantes">Habitantes</a></li>
                    <li><a href="dashboard">Dashboard</a></li>
                    <li id="Logout"><a href='/logout'>Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h1>Bienvenido al Menu Principal</h1>
            <h2>Seleccione una opción a realizar en la barra lateral.</h2>
            <br>
            <br>
            <section>
                <div class="contacto">
                    <h2>Acerca del INEGI</h2>
                    <p>Somos un organismo público autónomo responsable de normar y coordinar el Sistema Nacional de
                        Información
                        Estadística y
                        Geográfica, así como de captar y difundir información de México en cuanto al territorio, los
                        recursos,
                        la población y
                        economía, que permita dar a conocer las características de nuestro país y ayudar a la toma de
                        decisiones.</p>
                </div>
                <br>
                <div class="contacto">
                    <h2>Contacto</h2>
                    <p>Si tienes alguna duda o sugerencia, puedes contactarnos a través de los siguientes medios:</p>
                    <br>
                    <h3>Sede del Instituto</h3>
                    <p>Avenida Héroe de Nacozari Sur 2301,

                        Fraccionamiento Jardines del Parque,

                        20276, Aguascalientes,

                        Aguascalientes, Aguascalientes, entre Calle INEGI,

                        Avenida del Lago y Avenida Paseo de las Garzas.</p>
                    <br>
                    <h3>Orientación Teléfonica</h3>
                    <p>Nacional: <strong>800 111 4634</strong></p>
                    <p>Internacional: <strong>+ 52 449 149 1300</strong></p>
                    <p>Horario: lunes a domingo de 8:00 a 23:00 horas (tiempo del centro de México).</p>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <p>EURM &copy; 2023</p>
    </footer>

</body>

</html>