<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Viviendas | INEGI</title>
</head>


<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <img src="/images/inegi.jpg" alt="">
            <h1>Censo INEGI</h1>
            <h2>Registro</h2>
            <nav>
                <ul>
                    <li><a href="menu">Home</a></li>
                    <li><a href="viviendas">Viviendas</a></li>
                    <li><a href="habitantes">Habitantes</a></li>
                    <li><a href='dashboard'>Dashboard</a></li>
                    <li id="Logout"><a href='/logout'>Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <form id="registros" action="/viviendas" method="POST" onsubmit="validateAndSubmitForm()">
                <h1>Registro de Viviendas</h1>
                <h2>Registre todos los datos en las casillas correspondientes, asegurandose que no queden casillas
                    vacias.
                </h2>
                <div class="border">
                    <div class="inputBox2">
                        <input type="text" name="AtributosVivienda" required="required">
                        <span>Atributos Vivienda</span>
                        <i></i>
                    </div>
                    <div class="inputBox2">
                        <input type="number" name="CantidadPersonas" required="required">
                        <span>Cantidad de personas</span>
                        <i></i>
                    </div>
                    <div class="listBox">
                        <select name="TipoVivienda" required="required">
                            <option value="" disabled selected>Tipo de vivienda</option>
                            <option value="Concreto">Concreto</option>
                            <option value="Adobe Antiguo">Adobe</option>
                            <option value="Madera">Madera</option>
                            <option value="Cartón">Cartón</option>
                            <option value="Piedra">Piedra</option>
                            <option value="Prefabricada">Prefabricada</option>
                            <option value="Ecologica">Ecológica</option>
                            <option value="Paja">Paja</option>
                            <option value="Adobe Moderno">Adobe Moderno</option>
                            <i></i>
                        </select>
                    </div>
                    <div class="inputBox2">
                        <input type="text" name="Dedicacion" required="required">
                        <span>Dedicacion</span>
                        <i></i>
                    </div>
                    <div class="listBox">
                        <select name="Municipio" required="required">
                            <option value="" disabled selected>Municipio</option>
                            <option value="Abasolo">Abasolo</option>
                            <option value="Acuña">Acuña</option>
                            <option value="Allende">Allende</option>
                            <option value="Arteaga">Arteaga</option>
                            <option value="Candela">Candela</option>
                            <option value="Castaños">Castaños</option>
                            <option value="Cuatro Cienegas">Cuatro Ciénegas</option>
                            <option value="Escobedo">Escobedo</option>
                            <option value="Francisco I. Madero">Francisco I. Madero</option>
                            <option value="Frontera">Frontera</option>
                            <option value="General Cepeda">General Cepeda</option>
                            <option value="Guerrero">Guerrero</option>
                            <option value="Hidalgo">Hidalgo</option>
                            <option value="Jiménez">Jiménez</option>
                            <option value="Juárez">Juárez</option>
                            <option value="Lamadrid">Lamadrid</option>
                            <option value="Matamoros">Matamoros</option>
                            <option value="Monclova">Monclova</option>
                            <option value="Morelos">Morelos</option>
                            <option value="Múzquiz">Múzquiz</option>
                            <option value="Nadadores">Nadadores</option>
                            <option value="Nava">Nava</option>
                            <option value="Ocampo">Ocampo</option>
                            <option value="Parras">Parras</option>
                            <option value="Piedras Negras">Piedras Negras</option>
                            <option value="Progreso">Progreso</option>
                            <option value="Ramos Arizpe">Ramos Arizpe</option>
                            <option value="Sabinas">Sabinas</option>
                            <option value="Sacramento">Sacramento</option>
                            <option value="Saltillo">Saltillo</option>
                            <option value="San Buenaventura">San Buenaventura</option>
                            <option value="San Juan de Sabinas">San Juan de Sabinas</option>
                            <option value="San Pedro">San Pedro</option>
                            <option value="Sierra Mojada">Sierra Mojada</option>
                            <option value="Torreón">Torreón</option>
                            <option value="Viesca">Viesca</option>
                            <option value="Villa Unión">Villa Unión</option>
                            <option value="Zaragoza">Zaragoza</option>
                            <i></i>
                        </select>
                    </div>
                    <div class="inputBox2">
                        <input type="text" name="Direccion" required="required">
                        <span>Direccion</span>
                        <i></i>
                    </div>
                </div>
                <div id="submissionMessage" style="display: none;">Registration Complete!</div>
                <script>
                    function validateViviendas() {
                        var atributosVivienda = document.forms["registros"]["AtributosVivienda"].value;
                        var cantidadPersonas = document.forms["registros"]["CantidadPersonas"].value;
                        var tipoVivienda = document.forms["registros"]["TipoVivienda"].value;
                        var dedicacion = document.forms["registros"]["Dedicacion"].value;
                        var municipio = document.forms["registros"]["Municipio"].value;
                        var direccion = document.forms["registros"]["Direccion"].value;

                        if (atributosVivienda === "") {
                            alert("Ingrese correctamente los atributos de vivienda.");
                            return false;
                        }

                        if (isNaN(cantidadPersonas)) {
                            alert("Cantidad de Personas debe ser un número.");
                            return false;
                        }

                        if (tipoVivienda === "") {
                            alert("Tipo de Vivienda es necesario.");
                            return false;
                        }

                        if (!dedicacion.match(/^[a-zA-Z\s]+$/)) {
                            alert("Ingrese correctamente la dedicación.");
                            return false;
                        }

                        if (municipio === "") {
                            alert("Ingrese correctamente el municipio.");
                            return false;
                        }

                        if (!direccion.match(/^[a-zA-Z\s]+$/)) {
                            alert("Ingrese correctamente la dirección.");
                            return false;
                        }

                        return true;

                    }

                    function validateAndSubmitForm() {
                        if (validateViviendas()) {
                            document.getElementById('submissionMessage').style.display = 'block';
                            return true;
                        }
                        return false;
                    }
                </script>
                <input type="submit" name="registrar" id="registrar" value="Registrar">
            </form>
        </div>
</body>

</html>